/* Add CSS styles for the icon boxes */
.icon-box {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background: linear-gradient(-20deg, black 0%, #161ade 100%);
 
  transition: transform 0.3s ease-in-out;
  border:  1px solid #34495e;
  text-align: center;
  justify-content: center;
  font-family: sans-serif;
}


.icon-box:hover {
  transform: scale(1.05);
  background: transparent;
  box-shadow: 0px 4px 16px 0px #bfbfbf ;

}

.name {
  font-family: sans-serif;
  color: whitesmoke;
}

.para {
  flex-wrap: wrap;
  display: flex;
  margin-top: 50px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  height: auto;
  font-family: sans-serif;
  font-size: medium;
  font-weight: 500;
  background: linear-gradient(-25deg, black 0%, #161ade 100%);
  border:  1px solid #34495e;
  
}

.para:hover {
  background: transparent;
  box-shadow: 0px 4px 16px 0px #bfbfbf ;
}

.img {
  border-radius: 50%;
}
.img:hover{
  border-radius: 12px;
  filter: drop-shadow(5px 5px 10px #4e7194);
}



/* You can add more styles as needed */